body{
	font-family: FreeSans, sans-serif;
	background-color:#565a5c;
	text-align:center;
}

h1 {
	color:#00a1de;
}

h2 {
	color:#009b3a;
}

h3 {
	color:#f9e300;
}

h4 {
	color:#f9461c;
}

input {
	background: transparent;
	color:#e27ea6;
	height:50px;
	width:150px;
	font-size:50px;
	font-weight:bold;
	border:none;
	text-align:center;
}

button {
	background-color:#522398;
	color:white;
	border:none;
	width:150px;
	height:50px;
}

#answer {
	background: transparent;
	color:#e27ea6;
	font-size:45px;
}

#sign {
	background-color: grey;
	width: 50%;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: large;
	color: white;
	margin: auto;
}